* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_top .header_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_top_left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 37px;
}

.header .header_top .header_top_left .logo img {
  padding-right: 12px;
  height: 51px;
}

.header .header_top .header_top_left .logo .logo_text {
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  text-align: center;
}

.header .header_top .header_top_left .logo .text_d {
  color: #f16d7f;
}

.header .header_top .header_top_left .top_search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_top_left .top_search_form .button_browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
}

.header .header_top .header_top_left .top_search_form .button_browse .button_browse_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.header .header_top .header_top_left .top_search_form .button_browse .button_browse_link .button_browse_text {
  font-family: 'lato';
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #838383;
  padding: 9px 0 10px 14px;
}

.header .header_top .header_top_left .top_search_form .button_browse .button_browse_link .fa-caret-down {
  padding: 12px 8px 11px 8px;
  color: #838383;
}

.header .header_top .header_top_left input {
  height: 38px;
  width: 280px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: left;
  color: #a4a4a4;
  padding-left: 16px;
  padding-right: 16px;
}

.header .header_top .header_top_left .button_search {
  border: solid 1px #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
  padding: 10px 10px 9px 10px;
  font-size: 14px;
}

.header .header_top .header_top_left .button_search .button_browse_link {
  color: #a4a4a4;
  text-decoration: none;
}

.header .header_top .header_top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_top_right .button_my_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 10px 18px;
  background-color: #f16d7f;
  border: solid 1px #f16d7f;
  margin-left: 26px;
}

.header .header_top .header_top_right .button_my_account .button_my_account_link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.38px;
  color: #ffffff;
}

.header .header_top .header_top_right .button_my_account span {
  padding: 3px 12px 0 9px;
}

.header .header_top .header_top_right .button_shopping_cart {
  padding-top: 9px;
}

.header .border {
  border-top: 1px solid #e6e6e6;
}

.header .header_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 155px 19px 240px;
}

.header .header_list ul li,
.header .header_list ul a,
.header .header_list ul p {
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  color: #222222;
}

.landing_box {
  background-color: #e8e8e8;
}

.landing_box .landing_content {
  background-image: url(img/landing.png);
  background-repeat: no-repeat;
  background-position-x: inherit;
  background-position-y: bottom;
  height: 613px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing_box .landing_content .landing_rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  margin: 226px 12px 0 0;
}

.landing_box .landing_content .landing_text_top {
  font-weight: bolder;
  font-size: 60px;
  color: #222222;
  margin-top: 210px;
}

.landing_box .landing_content .landing_text_bottom_left {
  font-size: 40px;
  color: #222222;
}

.landing_box .landing_content .landing_text_bottom_right {
  font-size: 40px;
  color: #f16d7f;
}

.element_box {
  margin-top: 100px;
  margin-bottom: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.element_box p {
  top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bolder;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.45px;
  color: #222222;
  padding: 10px 15px 10px 20px;
  position: relative;
  background-color: #f5f5f5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.element_box p span {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
}

.element_box img {
  position: absolute;
}

.element_box .elements_left {
  width: 560px;
}

.element_box .elements_left .element_top_left {
  height: 542px;
  margin-bottom: 20px;
}

.element_box .elements_left .element_bottom_left {
  background-color: #dadad2;
  height: 261px;
}

.element_box .elements_left .element_bottom_left img {
  margin-left: 150px;
}

.element_box .elements_right {
  width: 560px;
}

.element_box .elements_right .element_top_right {
  height: 261px;
  margin-bottom: 20px;
}

.element_box .elements_right .element_bottom_right {
  height: 542px;
}

.items_block .items_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items_block .items_header h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-align: center;
  color: #222222;
  padding-bottom: 7px;
}

.items_block .items_header p {
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: center;
  color: #9f9f9f;
}

.items_block .items_list {
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items_block .items_list .items_content {
  margin-bottom: 40px;
}

.items_block .items_list .items_content img {
  width: 260px;
  height: 280px;
}

.items_block .items_list .items_content .items_link {
  text-decoration: none;
}

.items_block .items_list .items_content .items_link p {
  padding: 15px;
  font-size: 13px;
  color: #222222;
}

.items_block .items_list .items_content .items_link span {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
}

.items_block .button_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 115px;
}

.items_block .button_flex a {
  text-decoration: none;
}

.items_block .button_flex a p {
  padding: 15px 45px 15px 25px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  background-color: #f16d7f;
}

.banner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 95px;
  height: 529px;
  background-color: #222224;
  background-image: url(img/banner_bottom.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.banner_block .banner_left {
  margin-top: 130px;
  margin-left: 35px;
}

.banner_block .banner_left p {
  font-size: 53px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.banner_block .banner_left p .offer {
  color: #f16d7f;
}

.banner_block .banner_left p .for_women {
  font-size: 32px;
}

.banner_block .banner_right {
  width: 373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_block .banner_right ul {
  padding-right: 40px;
}

.banner_block .banner_right ul li {
  list-style-type: none;
  width: 235px;
  padding-bottom: 60px;
}

.banner_block .banner_right ul li h3 {
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fbfbfb;
}

.banner_block .banner_right ul li p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  color: #fbfbfb;
}

.banner_block .banner_right ul .last {
  padding-bottom: 0;
}

.reviews {
  margin-bottom: 110px;
  height: 438px;
  background-color: #f7f7f8;
  background-image: url(img/reviews_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.reviews .container .left_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 125px;
}

.reviews .container .left_reviews h3 {
  width: 425px;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  color: #222224;
}

.reviews .container .left_reviews p {
  margin-top: 20px;
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.reviews .container .left_reviews p span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
  color: #f16d7f;
}

.reviews .container .left_reviews .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.reviews .container .left_reviews .blocks .block1 {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 13px;
}

.reviews .container .left_reviews .blocks .block2 {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
  margin-right: 13px;
}

.reviews .container .right_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews .container .right_reviews p {
  padding-top: 150px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #222224;
  letter-spacing: 0.35px;
  line-height: 24px;
  margin-bottom: 35px;
}

.reviews .container .right_reviews p span {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: normal;
}

.reviews .container .right_reviews form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .container .right_reviews form input {
  width: 334px;
  height: 46px;
  border: 1px solid #e1e1e1;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
}

.reviews .container .right_reviews form a {
  text-decoration: none;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  width: 104px;
  height: 46px;
}

.reviews .container .right_reviews form a p {
  padding-top: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;
}

.footer .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_top .top_left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 30px;
}

.footer .footer_top .top_left .logo img {
  padding-right: 12px;
  height: 51px;
}

.footer .footer_top .top_left .logo .logo_text {
  width: 96px;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  text-align: center;
  margin-bottom: 0;
}

.footer .footer_top .top_left .logo .text_d {
  color: #f16d7f;
}

.footer .footer_top .top_left p {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
  margin-bottom: 90px;
}

.footer .footer_top .top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.footer .footer_top .top_right ul {
  width: 150px;
  list-style-type: none;
  padding-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer .footer_top .top_right ul h3 a {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.45px;
}

.footer .footer_top .top_right ul li {
  padding-top: 30px;
}

.footer .footer_top .top_right ul a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.footer .footer_bottom {
  background-color: #e6e6e6;
}

.footer .footer_bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_bottom .container .bottom_left p {
  padding: 30px 0;
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
}

.footer .footer_bottom .container .bottom_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.footer .footer_bottom .container .bottom_right ul li {
  list-style-type: none;
  margin-right: 8px;
}
/*# sourceMappingURL=style.css.map */