* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    list-style: none;
}

.header {

    .header_top {
        display: flex;
        justify-content: space-between;

        .header_top_left {
            display: flex;
            margin-top: 25px;
            margin-bottom: 25px;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-right: 37px;

                .img_logo {
                    padding-right: 12px;
                    height: 51px;
                }

                .logo_text {
                    color: #222222;
                    font-family: 'Lato', sans-serif;
                    font-size: 27px;
                    font-weight: 300;
                    letter-spacing: 0.68px;
                    text-align: center;
                }

                .text_d {
                    color: #f16d7f;
                }
            }

            .top_search_form {
                display: flex;
                align-items: center;

                .button_browse {
                    display: flex;
                    align-items: center;
                    border: solid 1px #e6e6e6;
                    background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);

                    details {
                        display: flex;
                        text-decoration: none;

                        summary {
                            font-family: 'lato';
                            font-size: 14px;
                            letter-spacing: 0.35px;
                            color: #838383;
                            padding: 9px 0 10px 15px;

                            span {
                                padding: 0 10px;
                                color: #838383;
                            }
                        }
                    }

                    details[open] {
                        display: flex;
                        flex-direction: column;

                        summary {
                            span {
                                transform: rotate(180deg);
                            }
                        }

                        div {
                            position: absolute;
                            border-radius: 5px;
                            background-color: #ffffff;
                            border: 1px solid #e8e8e8;

                            .list_top {
                                display: flex;
                                flex-direction: column;
                                list-style-type: none;
                                padding: 10px 15px 10px 15px;

                                .h3 {
                                    text-decoration: none;
                                    color: #4f4f4f;
                                    font-size: 14px;
                                    line-height: 28px;
                                    font-weight: 400;
                                    text-align: left;
                                    letter-spacing: 0.35px;
                                    color: #232323;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 0.35px;
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #e8e8e8;
                                    padding: 0;
                                }

                                li {
                                    display: flex;

                                    a {
                                        text-decoration: none;
                                        color: #4f4f4f;
                                        font-size: 14px;
                                        line-height: 28px;
                                        font-weight: 400;
                                        text-align: left;
                                        letter-spacing: 0.35px;
                                    }
                                }

                                li:hover {

                                    a {
                                        color: #f16d7f;
                                    }
                                }

                                li:nth-child(2) {
                                    padding-top: 10px;
                                }
                            }

                            .list_bottom {
                                list-style-type: none;
                                padding: 0 15px 10px 15px;
                                display: flex;
                                flex-direction: column;
                                list-style-type: none;
                                padding: 10px 15px 10px 15px;

                                .h3 {
                                    text-decoration: none;
                                    color: #4f4f4f;
                                    font-size: 14px;
                                    line-height: 28px;
                                    font-weight: 400;
                                    text-align: left;
                                    letter-spacing: 0.35px;
                                    color: #232323;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 0.35px;
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #e8e8e8;
                                    padding: 0;
                                    padding-right: 180px;
                                }

                                li {
                                    display: flex;

                                    a {
                                        text-decoration: none;
                                        color: #4f4f4f;
                                        font-size: 14px;
                                        line-height: 28px;
                                        font-weight: 400;
                                        text-align: left;
                                        letter-spacing: 0.35px;
                                    }
                                }

                                li:hover {

                                    a {
                                        color: #f16d7f;
                                    }
                                }

                                li:nth-child(2) {
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }

            input {
                height: 38px;
                width: 280px;
                border: solid 1px #e6e6e6;
                background-color: #ffffff;
                font-size: 14px;
                letter-spacing: 0.35px;
                text-align: left;
                color: #a4a4a4;
                padding-left: 16px;
                padding-right: 16px;
            }

            .button_search {
                border: solid 1px #e6e6e6;
                background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
                font-size: 14px;

                a {
                    padding: 10px 10px 9px 10px;
                    color: #a4a4a4;
                    text-decoration: none;

                    span {
                        padding: 12px 0px 10px 0px;
                    }
                }
            }
        }

        .header_top_right {
            display: flex;
            flex-direction: row-reverse;
            list-style-type: none;
            margin-top: 25px;
            margin-bottom: 25px;
            align-items: center;

            .button_my_account {
                display: flex;
                padding: 8px 0 10px 18px;
                background-color: #f16d7f;
                border: solid 1px #f16d7f;
                margin-left: 26px;

                .button_my_account_link {
                    text-decoration: none;
                    display: flex;
                    font-size: 15px;
                    letter-spacing: 0.38px;
                    color: #ffffff;
                }

                span {
                    padding: 3px 12px 0 9px;
                }
            }

            .button_shopping_cart {

                a {
                    padding: 9px 0;

                    img {
                        padding-top: 9px;
                    }
                }
            }

            .cart_preview {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 75px;
                border: 1px solid #eaeaea;
                background-color: #fff;
                width: 262px;
                justify-content: center;
                border-radius: 5px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);

                .top {
                    padding: 20px 15px 0 20px;

                    .cart_item {

                        .border_bottom {
                            border-bottom: 1px solid #ededed;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 15px;

                            .item_img {
                                flex-grow: 0;
                                padding-right: 8px;
                            }

                            ul {
                                list-style-type: none;
                                flex-grow: 2;

                                li {
                                    padding-bottom: 10px;
                                }

                                .item_txt {
                                    text-decoration: none;
                                    color: #222222;
                                    font-size: 12px;
                                    font-weight: 700;
                                }

                                .item_stars {

                                    .fa-star {
                                        color: #e4af48;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }
                                }

                                .item_price {
                                    color: #f16d7f;
                                    font-size: 12px;
                                    font-weight: 400;

                                    span {
                                        font-size: 10px;
                                    }
                                }
                            }

                            .cart_delete {
                                text-decoration: none;
                                flex-grow: 0;
                                margin-top: 35px;
                                margin-bottom: 45px;

                                i {
                                    color: #c0c0c0;
                                }
                            }
                        }
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    padding: 0 15px 20px 15px;

                    p {
                        display: flex;
                        justify-content: space-between;
                        color: #222222;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 30px;
                    }

                    .checkout {
                        padding: 15px 75px;
                        text-decoration: none;
                        color: #4a4a4a;
                        background-color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        border: 1px solid #eaeaea;
                        margin-bottom: 10px;
                    }

                    .checkout:hover {
                        border: 1px solid #f16d7f;
                        color: #f16d7f;
                    }

                    .go_to_cart {
                        padding: 15px 72px;
                        text-decoration: none;
                        color: #4a4a4a;
                        background-color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        border: 1px solid #eaeaea;
                    }

                    .go_to_cart:hover {
                        border: 1px solid #f16d7f;
                        color: #f16d7f;
                    }
                }
            }

            .cart_preview::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-left: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                transform: rotate(130deg);
                top: -6px;
                left: 11px;
            }

            .button_shopping_cart:hover .cart_preview {
                display: flex;
            }

        }
    }

    .border {
        border-top: 1px solid #e6e6e6;
    }
}

.navigation {

    .container {
        padding: 0 240px;

        .menu {
            display: flex;
            list-style-type: none;
            justify-content: space-between;

            .menu_list {

                .menu_link {
                    display: block;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 14px;
                    color: #222222;
                    padding: 20px 15px;
                }

                .mega_box {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    border: 1px solid #e8e8e8;
                    border-radius: 5px;
                    padding: 0 20px 20px;
                    top: 47px;

                    .item_flex {
                        display: flex;
                        flex-direction: column;
                        margin-right: 46px;

                        .menu_header {
                            border-bottom: 1px solid #e8e8e8;
                            color: #232323;
                            font-size: 14px;
                            font-weight: 400;
                            padding-top: 20px;
                            padding-bottom: 8px;
                            margin-bottom: 8px;
                            width: 235px;
                        }

                        .mega_link {
                            text-decoration: none;
                            color: #646464;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 28px;
                            letter-spacing: 0.35px;
                        }

                        .mega_link:hover {
                            color: #f16d7f;
                        }

                        .img_flex {
                            padding-top: 20px;
                            width: 255px;
                            height: 118px;
                        }
                    }

                    .item_flex:nth-last-of-type(2) {
                        margin-right: 0;
                    }

                    .img_absolute {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                    }
                }

                .mega_box::before {
                    content: "";
                    display: block;
                    height: 12px;
                    width: 12px;
                    background-color: #ffffff;
                    position: absolute;
                    top: -7px;
                    left: 25px;
                    transform: rotate(45deg);
                    border-top: 1px solid #e8e8e8;
                    border-left: 1px solid #e8e8e8;
                }


            }

            .mid:hover .mega_box {
                right: -225px;
            }

            .mid:hover .mega_box::before {
                left: auto;
                right: 250px;
            }

            .last:hover .mega_box {
                right: 0;
            }

            .last:hover .mega_box::before {
                left: auto;
                right: 40px;
            }

            .menu_list:hover {
                position: relative;
            }

            .menu_list:hover .mega_box {
                display: flex;
            }
        }
    }
}

.landing_box {
    background-color: #e8e8e8;

    .landing_content {
        background-image: url(img/landing.png);
        background-repeat: no-repeat;
        background-position-x: inherit;
        background-position-y: bottom;
        height: 613px;
        display: flex;

        .landing_rectangle {
            width: 12px;
            height: 115px;
            background-color: #f16d7f;
            margin: 226px 12px 0 0;
        }

        .landing_text_top {
            font-weight: bolder;
            font-size: 60px;
            color: #222222;
            margin-top: 210px;
        }

        .landing_text_bottom_left {
            font-size: 40px;
            color: #222222;
        }

        .landing_text_bottom_right {
            font-size: 40px;
            color: #f16d7f;
        }
    }
}

.element_box {
    margin-top: 100px;
    margin-bottom: 93px;
    display: flex;
    justify-content: space-between;

    p {
        top: 25px;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0.45px;
        color: #222222;
        padding: 10px 15px 10px 20px;
        position: relative;
        background-color: #f5f5f5;
        width: fit-content;

        span {
            font-size: 30px;
            letter-spacing: 0.75px;
            color: #f16d7f;
        }
    }

    img {
        position: absolute;
    }

    .elements_left {
        width: 560px;

        .element_top_left {
            height: 542px;
            margin-bottom: 20px;
        }

        .element_bottom_left {
            background-color: #dadad2;
            height: 261px;

            img {
                margin-left: 150px;
            }
        }
    }

    .elements_right {
        width: 560px;

        .element_top_right {
            height: 261px;
            margin-bottom: 20px;
        }

        .element_bottom_right {
            height: 542px;
        }
    }
}

.items_block {

    .items_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0.75px;
            text-align: center;
            color: #222222;
            padding-bottom: 7px;
        }

        p {
            font-size: 14px;
            letter-spacing: 0.35px;
            text-align: center;
            color: #9f9f9f;
        }
    }

    .items_list {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-between;

        .items_content {
            margin-bottom: 40px;

            img {
                width: 260px;
                height: 280px;
            }

            .items_link {
                text-decoration: none;

                p {
                    padding: 15px;
                    font-size: 13px;
                    color: #222222;
                }

                span {
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #f16d7f;
                }
            }
        }
    }

    .button_flex {
        display: flex;
        justify-content: center;
        margin-bottom: 115px;

        a {
            text-decoration: none;

            p {
                padding: 15px 45px 15px 25px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.4px;
                text-align: center;
                color: #ffffff;
                background-color: #f16d7f;
            }
        }
    }
}

.banner_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    height: 529px;
    background-color: #222224;
    background-image: url(img/banner_bottom.jpg);
    background-repeat: no-repeat;
    background-position: left;

    .banner_left {
        margin-top: 130px;
        margin-left: 35px;

        p {
            font-size: 53px;
            font-weight: bold;
            letter-spacing: 0.8px;
            color: #ffffff;

            .offer {
                color: #f16d7f;
            }

            .for_women {
                font-size: 32px;
            }
        }
    }

    .banner_right {
        width: 373px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        ul {
            padding-right: 40px;

            li {
                list-style-type: none;
                width: 235px;
                padding-bottom: 60px;

                h3 {
                    padding-bottom: 13px;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    color: #fbfbfb;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.35px;
                    color: #fbfbfb;
                }
            }

            .last {
                padding-bottom: 0;
            }
        }
    }
}

.reviews {
    margin-bottom: 110px;
    height: 438px;
    background-color: #f7f7f8;
    background-image: url(img/reviews_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        width: 50%;

        .left_reviews {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 125px;

            h3 {
                width: 425px;
                font-size: 16px;
                font-style: italic;
                letter-spacing: 0.4px;
                color: #222224;
            }

            p {
                margin-top: 20px;
                color: #222224;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.3px;
                line-height: 14px;

                span {
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0.4px;
                    line-height: 26px;
                    color: #f16d7f;
                }
            }

            .blocks {
                display: flex;
                margin-top: 40px;

                .block1 {
                    width: 38px;
                    height: 4px;
                    background-color: #d6d6d6;
                    margin-right: 13px;
                }

                .block2 {
                    width: 38px;
                    height: 4px;
                    background-color: #f16d7f;
                    margin-right: 13px;
                }
            }
        }

        .right_reviews {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                padding-top: 150px;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                color: #222224;
                letter-spacing: 0.35px;
                line-height: 24px;
                margin-bottom: 35px;

                span {
                    font-size: 24px;
                    letter-spacing: 0.6px;
                    line-height: normal;
                }
            }

            form {
                display: flex;

                input {
                    width: 334px;
                    height: 46px;
                    border: 1px solid #e1e1e1;
                    border-radius: 23px 0 0 23px;
                    background-color: #e1e1e1;
                }

                a {
                    text-decoration: none;
                    border-radius: 0 23px 23px 0;
                    background-color: #f16d7f;
                    width: 104px;
                    height: 46px;

                    p {
                        padding-top: 10px;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                        letter-spacing: 0.35px;
                    }
                }
            }
        }
    }
}

.footer {

    .footer_top {
        display: flex;
        justify-content: space-between;

        .top_left {

            .logo {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-bottom: 30px;

                img {
                    padding-right: 12px;
                    height: 51px;
                }

                .logo_text {
                    width: 96px;
                    color: #222222;
                    font-family: 'Lato', sans-serif;
                    font-size: 27px;
                    font-weight: 300;
                    letter-spacing: 0.68px;
                    text-align: center;
                    margin-bottom: 0;
                }

                .text_d {
                    color: #f16d7f;
                }
            }

            p {
                width: 427px;
                color: #898989;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.35px;
                line-height: 24px;
                margin-bottom: 90px;
            }
        }

        .top_right {
            display: flex;
            justify-content: space-around;
            width: stretch;

            ul {
                width: 150px;
                list-style-type: none;
                padding-bottom: 10px;
                width: max-content;

                h3 {
                    a {
                        color: #f16d7f;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 0.45px;
                    }
                }

                li {
                    padding-top: 30px;
                }

                a {
                    text-decoration: none;
                    color: #898989;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.4px;
                }
            }
        }
    }

    .footer_bottom {
        background-color: #e6e6e6;

        .container {
            display: flex;
            justify-content: space-between;

            .bottom_left {

                p {
                    padding: 30px 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: #7a7a7a;
                }
            }

            .bottom_right {

                ul {
                    display: flex;
                    margin-top: 25px;

                    li {
                        list-style-type: none;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}