@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(../FontAwesome/css/all.css);
header .brand {
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
}

header .browse__button {
  height: 38px !important;
  z-index: 2 !important;
}

header .browse__button summary {
  padding: 8px 12px !important;
}

header .dropout {
  margin-top: -2px !important;
  width: 265px !important;
}

header .browse__menu p {
  margin-bottom: 0;
}

header .browse__menu ul {
  margin-bottom: 0;
}

header .browse__menu hr {
  margin-top: 18px !important;
}

header .account__button summary {
  padding: 8px 11px 8px 15px !important;
}

header .account__button[open] {
  width: 130px !important;
  height: 38px !important;
}

header .account__button[open] summary {
  padding: 7px 10px 8px 13px !important;
}

header .account__button:hover {
  width: 130px !important;
  height: 38px !important;
}

header .account__button:hover summary {
  padding: 7px 10px 8px 13px !important;
}

header .cart__box {
  z-index: 2;
}

header .cart__item {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 0;
}

header .item_title {
  width: 88px;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

header .item_title img {
  padding-top: 0;
}

header hr {
  border: 1px solid #ececec;
}

header .header_bottom {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

header .mega__box {
  z-index: 2;
}

header .sale-text {
  line-height: normal;
}

header .page-name {
  background-color: #f8f3f4;
}

header .page-name .page-name__center {
  padding-top: 65px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .page-name .page-name__center .page-name__heading {
  color: #f16d7f;
  font-family: "Lato Black";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

header .page-name .page-name__center .page-name__ul {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .page-name .page-name__center .page-name__ul .page-name__li .page-name__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
  font-family: "Lato Light";
  font-weight: 300;
}

header .page-name .page-name__center .page-name__ul .page-name__li .page-name__link:hover {
  color: #f16d7f;
}

header .page-name .page-name__center .page-name__ul .page-name__li:last-child .page-name__link {
  font-family: "Lato Black";
  color: #f16d7f;
}

header .page-name .page-name__center .page-name__ul .page-name__li:not(:last-child)::after {
  content: '/';
  padding-left: 3px;
  padding-right: 3px;
}

main {
  margin-top: 0px !important;
}

main .checkout__box {
  margin: 90px 0 90px 0;
}

main .checkout__box details {
  border-bottom: 1px solid #b3b2b2;
  padding: 25px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .checkout__box details > summary {
  list-style: none;
}

main .checkout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 50px 35px;
}

main .checkout__head {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

main .checkout__head::-webkit-details-marker {
  display: none;
}

main .checkout__right {
  margin: 0 160px 0 0;
}

main .checkout__heading {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 10px 0;
}

main .checkout__text {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  color: #b3b2b2;
  margin: 0 0 35px 0;
}

main .checkout__subtitle {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

main .checkout__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px 0;
}

main .checkout__register input {
  margin: 0 14px 0 0;
}

main .checkout__input {
  margin: 0 0 32px 0;
}

main .checkout__recomend a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
}

main .checkout__recomend .checkout__text {
  margin: 0 0 15px 0;
}

main .checkout__recomend .fa-angle-double-right {
  font-size: 13px;
  line-height: 20px;
  color: #b3b2b2;
  padding: 0 4px 0 0;
}

main .checkout__btn {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 19px 54px;
  margin: 38px 0 0 0;
}

main .checkout__btn:hover {
  background: #f16d7f;
  color: #ffffff;
}

main .checkout__input__area {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin: 15px 0 20px 0;
  padding: 0 15px;
  outline: none;
}

main .checkout__input__area:last-of-type {
  margin-bottom: 15px;
}

main .checkout__right .checkout__subtitle:after {
  content: "*";
  margin: 0 0 0 5px;
  font-family: Lato;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

main .checkout__alert {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

main .checkout__help {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  margin: 0 0 0 32px;
  text-decoration: none;
}

main .checkout__help:hover {
  color: #f16d7f;
}

main .review__text p {
  margin-bottom: 0;
}

main .subscribe__text p {
  margin-bottom: 0px;
}

main .email__sub input,
main .email__sub button {
  line-height: normal !important;
}

footer .footer__logo .brand {
  margin-bottom: 5px;
}

footer .footer__brand .footer__text {
  margin-bottom: 0;
}

footer .footer__company h4,
footer .footer__info h4,
footer .footer__shop h4 {
  margin-bottom: 0;
}

footer .footer__company ul,
footer .footer__info ul,
footer .footer__shop ul {
  margin-bottom: 0;
  padding-left: 0;
}

footer .copy {
  margin-bottom: 0;
}
/*# sourceMappingURL=checkout-style.css.map */