@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url(../FontAwesome/css/all.css);

header {

    .brand {
        margin-block-end: 8px;
    }

    .browse__button {
        height: 38px !important;
        z-index: 2 !important;

        summary {
            padding: 8px 12px !important;
        }
    }

    .dropout {
        margin-top: -2px !important;
        width: 265px !important;
    }

    .browse__menu {

        p {
            margin-bottom: 0;
        }

        ul {
            margin-bottom: 0;
        }

        hr {
            margin-top: 18px !important;
        }
    }

    .account__button {

        summary {
            padding: 8px 11px 8px 15px !important;
        }
    }

    .account__button[open] {
        width: 130px !important;
        height: 38px !important;

        summary {
            padding: 7px 10px 8px 13px !important;
        }
    }

    .account__button:hover {
        width: 130px !important;
        height: 38px !important;

        summary {
            padding: 7px 10px 8px 13px !important;
        }
    }

    .cart__box {
        z-index: 2;
    }

    .cart__item {
        align-items: center !important;
        margin: 0;
    }

    .item_title {
        width: 88px;
        box-sizing: content-box !important;

        img {
            padding-top: 0;
        }
    }

    hr {
        border: 1px solid #ececec;
    }

    .header_bottom {
        padding-inline-start: 0;
    }

    .mega__box {
        z-index: 2;
    }

    .sale-text {
        line-height: normal;
    }

    .page-name {
        background-color: #f8f3f4;

        .page-name__center {
            padding-top: 65px;
            padding-bottom: 60px;
            display: flex;
            justify-content: space-between;

            .page-name__heading {
                color: #f16d7f;
                font-family: "Lato Black";
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            .page-name__ul {
                margin-bottom: 0;
                padding: 0;
                list-style-type: none;
                display: flex;

                .page-name__li {

                    .page-name__link {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #636363;
                        font-family: "Lato Light";
                        font-weight: 300;
                    }

                    .page-name__link:hover {
                        color: #f16d7f;
                    }
                }

                .page-name__li:last-child .page-name__link {
                    font-family: "Lato Black";
                    color: #f16d7f;
                }

                .page-name__li:not(:last-child)::after {
                    content: '/';
                    padding-left: 3px;
                    padding-right: 3px;
                }
            }
        }
    }
}

main {
    margin-top: 0px !important;

    .shopping__box {
        margin: 90px 0 0 0;
    }

    .shopping__contents {
        display: flex;
        justify-content: space-between;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #eaeaea;
    }

    .shopping__char {
        display: flex;
    }

    .shopping__heading {
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: #222222;
    }

    .shopping__char .shopping__heading {
        margin: 0 0 0 83px;
    }

    .shopping__item {
        padding: 20px 0;
        display: flex;
    }

    .item__prop__heading {
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        color: #222222;
        text-decoration: none;
    }

    .item__prop {
        padding: 13px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item__prop__text {
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #6f6e6e;
        margin-bottom: 0;
    }

    .item__prop__text span {
        color: #575757;
        font-weight: bold;
    }

    .shopping__item__char {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 630px;
    }

    .shopping__item__char button {
        background: inherit;
        border: none;
    }

    .shopping__single {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
    }

    .item__shopping__text span {
        font-weight: 300;
        color: #6f6e6e;
    }

    .char__text {
        font-size: 13px;
        color: #656565;
        margin: 0 20px 0 10px;
    }

    .char__text:nth-child(2) {
        border: 1px solid #eaeaea;
        padding: 10px 24px;
    }

    .shopping__submit {
        display: flex;
        justify-content: space-between;
        margin: 40px 0 60px 0;
    }

    .shopping__btn {
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        padding: 20px 40px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        text-decoration: none;
    }

    .shopping__btn:hover {
        background: #f16d7f;
        border: 1px solid #f16d7f;
        color: #ffffff;
    }

    .shipping__continuing {
        display: flex;
        justify-content: space-between;
    }

    .shipping__data details {
        margin: 22px 0 0 0;
    }

    .shipping__heading {
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        margin: 0 0 22px 0;
    }

    .shipping__country {
        width: 355px;
        padding: 2px 0 2px 15px;
        border: 1px solid #eaeaea;
        display: flex;
        color: #bdbdbd;
        margin: 0 0 20px 0;
        font-family: Lato;
        font-size: 13px;
        font-weight: 300;
        outline: none;
    }

    .shipping__country_padding {
        padding: 12.5px 0px 12.5px 15px;
    }

    .shipping__data details {
        position: relative;
    }

    .shipping__country::placeholder {
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        color: #b1b1b1;
    }

    .shipping__country .fa-caret-down {
        margin: 0 0 0 250px;
        padding-top: 3px;
    }

    .shipping__list {
        padding: 20px;
        width: 355px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 44px;
        border: 1px solid #eaeaea;
        background: #ffffff;
    }

    .shipping__list span {
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        color: #b1b1b1;
        padding: 5px 0;
    }

    .paddinger {
        padding: 13px 138px 12px 15px;
    }

    .shipping__quote {
        display: inline-block;
        font-family: Lato;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        padding: 12px 15px;
        border: 1px solid #eaeaea;
        margin: 0 0 80px 0;
        text-decoration: none;
    }

    .shipping__quote:hover {
        color: #ffffff;
        background: #f16d7f;
    }

    .shipping__total {
        justify-content: flex-end;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #eaeaea;
    }

    .shipping__text {
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #000000;
        margin: 0 0 22px 0;
    }

    .shipping__proceed {
        padding: 40px 44px;
        background: #f5f3f3;
    }

    .proceed__text {
        font-family: Lato;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #4a4a4a;
        margin: 0 0 14px 0;
        text-align: right;
    }

    .proceed__heading {
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        text-align: right;
    }

    .proceed__heading span {
        color: #f16d7f;
    }

    .proceed__btn {
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        background: #f16d7f;
        padding: 20px 42px;
        margin: 20px 0 0 0;
        border: 1px solid #f16d7f;
    }

    .proceed__btn:hover {
        background: #ffffff;
        color: #f16d7f;
    }

    .review__text {

        p {
            margin-bottom: 0;
        }
    }

    .subscribe__text p {
        margin-bottom: 0px;
    }

    .email__sub {

        input,
        button {
            line-height: normal !important;
        }
    }
}

footer {

    .footer__logo {
        .brand {
            margin-bottom: 5px;
        }
    }

    .footer__brand {

        .footer__text {
            margin-bottom: 0;
        }
    }

    .footer__company,
    .footer__info,
    .footer__shop {

        h4 {
            margin-bottom: 0;
        }

        ul {
            margin-bottom: 0;
            padding-left: 0;
        }
    }

    .copy {
        margin-bottom: 0;
    }
}