@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(../FontAwesome/css/all.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

.center {
  width: 1140px;
  margin: 0 auto;
}

header {
  margin-top: 25px;
}

header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__logo img {
  width: 59px;
  height: 51px;
}

header a {
  text-decoration: none;
}

header p {
  padding-left: 13px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  font-family: "Lato Light";
  height: 27px;
}

header p span {
  color: #f16d7f;
  font-family: "Lato Black";
  font-weight: 400;
  font-size: 28px;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 37px;
}

header .browse__button {
  display: block;
  width: 85px;
  height: 35.5px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  z-index: 1;
}

header .browse__button summary {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 12px;
  color: #838383;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}

header .browse__button summary::-webkit-details-marker {
  display: none;
}

header .browse__button details > summary {
  list-style: none;
}

header .browse__button summary::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f0d7";
  margin-left: 8px;
  font-weight: 600;
}

header .browse__button[open] {
  cursor: pointer;
  background: #e6e6e6;
}

header .browse__button[open] summary::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f0d8";
  font-weight: 600;
  color: #838383;
}

header .browse__button[open] .dropdown__container {
  width: 262px;
  cursor: default;
}

header .browse__button[open] .dropdown__container .dropout {
  position: relative;
  margin-top: 0px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  width: 262px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9e9e9;
}

header .browse__button[open] .dropdown__container .dropout .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 28%;
  margin-left: -11px;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu p {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  padding-top: 15px;
  padding-left: 15px;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu hr {
  margin-top: 0px;
  width: 236px;
  margin-left: 13px;
  margin-bottom: 16px;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu ul {
  list-style-type: none;
  padding-left: 20px;
  text-align: left;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu ul li {
  padding-bottom: 10px;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu ul li a {
  width: 99px;
  height: 234px;
  color: #4f4f4f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0.35px;
  line-height: normal;
  padding-right: 146px;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu ul li a:hover {
  color: #f16d7f;
}

header .browse__button[open] .dropdown__container .dropout .browse__menu ul:last-of-type {
  padding-bottom: 10px;
}

header .browse__button:hover {
  cursor: pointer;
  background: #e6e6e6;
}

header input {
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 16px;
  color: #a4a4a4;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  border-left: 0;
  outline: none;
}

header .search__button {
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  width: 36px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  border-left: 0;
}

header .search__button:hover {
  background: #e6e6e6;
}

header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cart__button {
  margin-right: 13px;
  display: block;
  position: relative;
}

header .cart__button .cart_icon {
  display: block;
  padding: 13px;
}

header .cart__button .cart__box {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px #0000004d;
          box-shadow: 0 3px 6px #0000004d;
  padding: 20px;
  display: none;
  top: 56px;
  left: -11px;
}

header .cart__button .cart__box .flex__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .cart__button .cart__box .flex__cart .cart_item-1,
header .cart__button .cart__box .flex__cart .cart_item-2 {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .cart__item,
header .cart__button .cart__box .flex__cart .cart_item-2 .cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .cart__item .item_title,
header .cart__button .cart__box .flex__cart .cart_item-2 .cart__item .item_title {
  padding-left: 13px;
  width: 75px;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .cart__item .item_title a,
header .cart__button .cart__box .flex__cart .cart_item-2 .cart__item .item_title a {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 7px;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .cart__item .item_title a:hover,
header .cart__button .cart__box .flex__cart .cart_item-2 .cart__item .item_title a:hover {
  color: #f16d7f;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .cart__item .item_title img,
header .cart__button .cart__box .flex__cart .cart_item-2 .cart__item .item_title img {
  padding-top: 10px;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .cart__item .item_title p,
header .cart__button .cart__box .flex__cart .cart_item-2 .cart__item .item_title p {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding-left: 0;
  font-family: 'Lato';
  padding-top: 12px;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .close_button,
header .cart__button .cart__box .flex__cart .cart_item-2 .close_button {
  color: #c0c0c0;
  margin-left: 55px;
}

header .cart__button .cart__box .flex__cart .cart_item-1 .close_button .fas .fa-times-cicrcle,
header .cart__button .cart__box .flex__cart .cart_item-2 .close_button .fas .fa-times-cicrcle {
  width: 15px;
  height: 15px;
  font-family: "Font Awesome";
  font-size: 16px;
  font-weight: 400;
}

header .cart__button .cart__box .flex__cart .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
}

header .cart__button .cart__box .flex__cart .total p {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0;
}

header .cart__button .cart__box .flex__cart .checkout {
  background-color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 11px;
}

header .cart__button .cart__box .flex__cart .checkout:hover {
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  padding-top: 18px;
  padding-bottom: 18px;
}

header .cart__button .cart__box .flex__cart .go-to-cart {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  padding-top: 19px;
  padding-bottom: 19px;
}

header .cart__button .cart__box .flex__cart .go-to-cart:hover {
  color: #f16d7f;
  background-color: #fff;
}

header .cart__button .cart__box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -7px;
  left: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

header .cart__button:hover .cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .account__button {
  display: block;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border-radius: 3px;
}

header .account__button summary {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  padding: 10px 11px 10px 15px;
}

header .account__button summary::-webkit-details-marker {
  display: none;
}

header .account__button details > summary {
  list-style: none;
}

header .account__button summary::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f0d7";
  margin-left: 11px;
  font-weight: 600;
}

header .account__button[open] {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  width: 128px;
  height: 36px;
}

header .account__button[open] summary {
  color: #f16d7f;
  padding: 9px 10px 9px 14px;
}

header .account__button[open] summary::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f0d8";
  font-weight: 600;
}

header .account__button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  width: 128px;
  height: 36px;
}

header .account__button:hover summary {
  color: #f16d7f;
  padding: 9px 10px 9px 14px;
}

header hr {
  margin-top: 24px;
  border-top: 0;
  opacity: 0.3;
}

header .navigation .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

header .navigation .nav_container .header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 755px;
}

header .navigation .nav_container .header_bottom .menu__list {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  position: relative;
}

header .navigation .nav_container .header_bottom .menu__list .menu__link {
  color: #222222;
  padding: 17px 25px;
  display: block;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px #0000004d;
          box-shadow: 0 3px 6px #0000004d;
  padding: 20px;
  display: none;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 46px;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .flex__item .item__heading {
  color: #232323;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: 235px;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .flex__item .item__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .flex__item .item__link:hover {
  color: #f16d7f;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .item__column .bottom__item {
  padding-top: 22px;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .item__column .last__item {
  margin-right: 20px;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .item__column .item__sale {
  background-image: url(../img/item-sale.png);
  height: 118px;
  display: block;
  margin-top: 22px;
  background-repeat: no-repeat;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box .item__column .item__sale .sale-text {
  display: block;
  padding-left: 174px;
  padding-top: 60px;
  color: #ffffff;
  font-family: "Lato Black";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

header .navigation .nav_container .header_bottom .menu__list .mega__box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -7px;
  left: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

header .navigation .nav_container .header_bottom .menu__list:hover .mega__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation .nav_container .header_bottom .menu__list-last:hover .mega__box {
  right: 0;
}

header .navigation .nav_container .header_bottom .menu__list-last .mega__box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -7px;
  left: 790px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

header .header_banner {
  height: 665px;
  background-color: #e8e8e8;
}

header .header_banner .banner__container {
  height: 665px;
  background-image: url(../img/header-banner.png);
}

header .header_banner .banner__container .banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  padding-top: 276px;
}

header .header_banner .banner__container .banner__content .vertical__bar {
  width: 12px;
  height: 98px;
  margin-top: 10px;
  background-color: #f16d7f;
}

header .header_banner .banner__container .banner__content p {
  color: #222222;
  font-family: "Lato Black";
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  padding-top: 0;
  padding-left: 12px;
}

header .header_banner .banner__container .banner__content p .the_brand {
  color: #222222;
  font-size: 60px;
  letter-spacing: 1.5px;
  text-align: right;
}

header .header_banner .banner__container .banner__content p .fashion {
  color: #f16d7f;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 400;
  text-align: right;
}

main {
  margin-top: 98px;
}

main .four_banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .four_banners .left__banners {
  width: 560px;
  height: 823px;
}

main .four_banners .left__banners .for__man {
  background-image: url(../img/hot-deal.png);
  height: 542px;
}

main .four_banners .left__banners .accesories {
  background-image: url(../img/luxury.png);
  background-repeat: no-repeat;
  height: 261px;
  background-color: #dadad2;
  margin-top: 20px;
  background-position-x: 110%;
}

main .four_banners .left__banners .for__man:hover,
main .four_banners .left__banners .accesories:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

main .four_banners .right__banners {
  width: 560px;
  height: 823px;
}

main .four_banners .right__banners .offer__women {
  background-image: url(../img/offer-women.png);
  height: 261px;
}

main .four_banners .right__banners .new__arrivals {
  background-image: url(../img/new-arrivals-kids.png);
  height: 542px;
  margin-top: 20px;
}

main .four_banners .right__banners .offer__women:hover,
main .four_banners .right__banners .new__arrivals:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

main .four_banners .white__block {
  background-color: #ffffff;
  display: inline-block;
  margin-top: 26px;
}

main .four_banners .white__block .black-red__text {
  padding: 16px 20px;
}

main .four_banners .white__block .black-red__text .black__text {
  color: #222222;
  font-family: "Lato Black";
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

main .four_banners .white__block .black-red__text .red__text {
  color: #f16d7f;
  font-family: "Lato Black";
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

main .items_heading {
  margin-top: 100px;
  text-align: center;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.75px;
}

main .items_text {
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.35px;
  padding-top: 16px;
  margin-bottom: 60px;
}

main .card_box {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .card_box .card {
  width: 263px;
  margin-bottom: 40px;
}

main .card_box .card .card__top {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

main .card_box .card .card__top img {
  display: block;
  position: relative;
  width: 263px;
  height: 280px;
}

main .card_box .card .card__top .mask {
  width: 263px;
  height: 280px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

main .card_box .card .card__top .mask a {
  text-decoration: none;
  padding: 10px 13px 7px 12px;
  margin-top: 98px;
  color: #ffffff;
  border: 1px solid;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card_box .card .card__top .mask a img {
  width: 27px;
  height: 26px;
  display: inline;
}

main .card_box .card .card__top .mask a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  margin-left: 8px;
}

main .card_box .card .card__top .mask a:hover {
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  background-color: rgba(216, 216, 216, 0.28);
}

main .card_box .card .view img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

main .card_box .card .view .mask {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: rgba(58, 56, 56, 0.6);
}

main .card_box .card .view .mask a {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .card_box .card .view .mask a img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .card_box .card .card__bottom a {
  text-decoration: none;
  color: #222222;
}

main .card_box .card .card__bottom a .card__title {
  padding: 19px 91px 17px 15px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

main .card_box .card .card__bottom a .card__price {
  padding: 0px 91px 21px 15px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

main .card_box .card:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

main .card_box .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .card_box .card:hover .mask {
  opacity: 1;
}

main .card_box .card:hover .mask a {
  opacity: 1;
}

main .product__button {
  background-color: #f16d7f;
  border: none;
  padding: 18px 19px 19px 24px;
  margin-bottom: 113px !important;
  border-radius: 3px;
  display: inline-block;
  margin-left: 464px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-decoration: none;
}

main .product__button i {
  color: #ffffff;
  padding-left: 9px;
}

main .product__button:hover {
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  /* cursor: pointer; */
  padding: 17px 18px 18px 23px;
}

main .product__button:hover i {
  color: #f16d7f;
}

main .bottom_banner {
  background-color: #222224;
  margin-bottom: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bottom_banner .left__bottom_banner {
  width: 767px;
  height: 529px;
  background-image: url(../img/bottom-banner.png);
  position: relative;
}

main .bottom_banner .left__bottom_banner img {
  position: absolute;
}

main .bottom_banner .left__bottom_banner .bottom__banner_text {
  color: #ffffff;
  font-family: Lato;
  position: absolute;
  padding-top: 146px;
  padding-left: 39px;
}

main .bottom_banner .left__bottom_banner .bottom__banner_text .the_offer {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

main .bottom_banner .left__bottom_banner .bottom__banner_text .the_offer span {
  color: #f16d7f;
}

main .bottom_banner .left__bottom_banner .bottom__banner_text .for_women {
  font-size: 32px;
  letter-spacing: 0.9px;
}

main .bottom_banner .right__bottom_banner {
  width: 373px;
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bottom_banner .right__bottom_banner .advantages_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 36px;
  padding-top: 52px;
  padding-right: 33px;
  padding-bottom: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .bottom_banner .right__bottom_banner .offer_advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 55px;
  padding-bottom: 66px;
  padding-right: 37px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .bottom_banner .right__bottom_banner .offer_advantages h4 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-bottom: 17px;
}

main .bottom_banner .right__bottom_banner .offer_advantages p {
  width: 220px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

main .subscribe {
  height: 438px;
  background: rgba(242, 242, 242, 0.4) url(../img/subscribe-background.png);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

main .subscribe .subscribe__container {
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .subscribe .subscribe__container .reviews {
  padding-top: 113px;
}

main .subscribe .subscribe__container .reviews .review-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .subscribe .subscribe__container .reviews .review-1 .review__text {
  padding-left: 28px;
  padding-top: 10px;
}

main .subscribe .subscribe__container .reviews .review-1 .review__text .review__comment {
  width: 386px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 26px;
  padding-bottom: 19px;
}

main .subscribe .subscribe__container .reviews .review-1 .review__text .review__name {
  width: 85px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  font-family: "Lato Black";
  letter-spacing: 0.4px;
}

main .subscribe .subscribe__container .reviews .review-1 .review__text .review__loc {
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

main .subscribe .subscribe__container .reviews .carousel-review {
  padding-top: 29px;
  padding-left: 111px;
}

main .subscribe .subscribe__container .reviews .carousel-review .form_radio_btn {
  display: inline-block;
  margin-right: 13px;
}

main .subscribe .subscribe__container .reviews .carousel-review .form_radio_btn input[type=radio] {
  display: none;
}

main .subscribe .subscribe__container .reviews .carousel-review .form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  width: 38px;
  height: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #d6d6d6;
}

main .subscribe .subscribe__container .reviews .carousel-review .form_radio_btn input[type=radio]:checked + label {
  background: #f16d7f;
}

main .subscribe .subscribe__container .subscribe__bd {
  width: 1px;
  height: 438px;
  background-color: #ffffff;
  margin-left: 72px;
}

main .subscribe .subscribe__container .subscribe__email {
  padding-left: 92px;
  padding-top: 142px;
}

main .subscribe .subscribe__container .subscribe__email .subscribe__text {
  text-align: center;
  padding-bottom: 35px;
}

main .subscribe .subscribe__container .subscribe__email .subscribe__text h4 {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 35px;
  text-transform: uppercase;
}

main .subscribe .subscribe__container .subscribe__email .subscribe__text p {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 24px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .subscribe .subscribe__container .subscribe__email .email__sub input {
  width: 282px;
  height: 46px;
  border-radius: 23px 0px 0px 23px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
  padding-left: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub input[type=email]:focus {
  background-color: #ffffff;
}

main .subscribe .subscribe__container .subscribe__email .email__sub input::-webkit-input-placeholder {
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub input:-ms-input-placeholder {
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub input::-ms-input-placeholder {
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub input::placeholder {
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

main .subscribe .subscribe__container .subscribe__email .email__sub button:hover {
  background-color: rgba(242, 242, 242, 0.4);
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

footer .about_brand {
  padding-top: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 89px;
}

footer .about_brand .footer__brand {
  width: 430px;
}

footer .about_brand .footer__brand a {
  text-decoration: none;
}

footer .about_brand .footer__brand a .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 29px;
}

footer .about_brand .footer__brand a .footer__logo p {
  padding-left: 13px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  font-family: "Lato Light";
  height: 27px;
}

footer .about_brand .footer__brand a .footer__logo p span {
  color: #f16d7f;
  font-family: "Lato Black";
  font-weight: 400;
  font-size: 28px;
}

footer .about_brand .footer__brand .footer__text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

footer .about_brand .footer__brand .footer__text-1 {
  padding-bottom: 29px;
}

footer .about_brand .footer__company h4,
footer .about_brand .footer__info h4,
footer .about_brand .footer__shop h4 {
  padding-top: 14px;
  padding-bottom: 34px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

footer .about_brand .footer__company ul,
footer .about_brand .footer__info ul,
footer .about_brand .footer__shop ul {
  list-style-type: none;
}

footer .about_brand .footer__company ul li a,
footer .about_brand .footer__info ul li a,
footer .about_brand .footer__shop ul li a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  display: block;
}

footer .about_brand .footer__company ul li a:hover,
footer .about_brand .footer__info ul li a:hover,
footer .about_brand .footer__shop ul li a:hover {
  color: #f16d7f;
}

footer .copyright {
  background-color: #e6e6e6;
}

footer .copyright .copy_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 33px;
  padding-bottom: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright .copy_container .copy {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

footer .copyright .copy_container .copy__social a {
  color: #b2b2b2;
  background-color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 8px;
}

footer .copyright .copy_container .copy__social a:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

footer .copyright .copy_container .copy__social .facebook {
  padding: 6.5px 8.46px 6.5px 10.46px;
}

footer .copyright .copy_container .copy__social .twitter {
  padding: 6.5px 4.46px 6.5px 8.46px;
}

footer .copyright .copy_container .copy__social .linkedin {
  padding: 6.5px 5.46px 6.5px 9.46px;
}

footer .copyright .copy_container .copy__social .pinterest {
  padding: 6.5px 6.46px 6.5px 10.46px;
}

footer .copyright .copy_container .copy__social .google_plus {
  padding: 6.5px 6px 6.5px 6px;
}
/*# sourceMappingURL=style.css.map */