@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(../FontAwesome/css/all.css);
header .brand {
  margin-block-end: 8px;
}

header .browse__button {
  height: 38px !important;
  z-index: 2 !important;
}

header .browse__button summary {
  padding: 8px 12px !important;
}

header .dropout {
  margin-top: -2px !important;
  width: 265px !important;
}

header .browse__menu p {
  margin-bottom: 0;
}

header .browse__menu ul {
  margin-bottom: 0;
}

header .browse__menu hr {
  margin-top: 18px !important;
}

header .account__button summary {
  padding: 8px 11px 8px 15px !important;
}

header .account__button[open] {
  width: 130px !important;
  height: 38px !important;
}

header .account__button[open] summary {
  padding: 7px 10px 8px 13px !important;
}

header .account__button:hover {
  width: 130px !important;
  height: 38px !important;
}

header .account__button:hover summary {
  padding: 7px 10px 8px 13px !important;
}

header .cart__box {
  z-index: 2;
}

header .cart__item {
  align-items: center !important;
  margin: 0;
}

header .item_title {
  width: 88px;
  box-sizing: content-box !important;
}

header .item_title img {
  padding-top: 0;
}

header hr {
  border: 1px solid #ececec;
}

header .header_bottom {
  padding-inline-start: 0;
}

header .mega__box {
  z-index: 2;
}

header .sale-text {
  line-height: normal;
}

header .page-name {
  background-color: #f8f3f4;
}

header .page-name .page-name__center {
  padding-top: 65px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

header .page-name .page-name__center .page-name__heading {
  color: #f16d7f;
  font-family: "Lato Black";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

header .page-name .page-name__center .page-name__ul {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

header .page-name .page-name__center .page-name__ul .page-name__li .page-name__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
  font-family: "Lato Light";
  font-weight: 300;
}

header .page-name .page-name__center .page-name__ul .page-name__li .page-name__link:hover {
  color: #f16d7f;
}

header .page-name .page-name__center .page-name__ul .page-name__li:last-child .page-name__link {
  font-family: "Lato Black";
  color: #f16d7f;
}

header .page-name .page-name__center .page-name__ul .page-name__li:not(:last-child)::after {
  content: '/';
  padding-left: 3px;
  padding-right: 3px;
}

main {
  margin-top: 0px !important;
}

main .carousel {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  height: 777px;
  z-index: 1;
}

main .carousel .carousel-item {
  display: flex;
  justify-content: center;
}

main .carousel .carousel-control-next,
main .carousel .carousel-control-prev {
  width: 47px;
  height: 47px;
  background-color: #2a2a2a;
  margin-top: 365px;
}

main .carousel .carousel-control-next .carousel-control-next-icon,
main .carousel .carousel-control-next .carousel-control-prev-icon,
main .carousel .carousel-control-prev .carousel-control-next-icon,
main .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-size: 50% 50%;
}

main .product-description {
  border: 1px solid #eaeaea;
  margin-top: -86px;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  /* Firefox */
}

main .product-description .collection-heading {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 15px;
  width: 150px;
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
}

main .product-description .for-border {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  display: block;
  position: absolute;
  top: 103.7px;
  left: 537px;
}

main .product-description .product-item {
  padding-top: 17px;
  text-align: center;
  color: #4d4d4d;
  font-family: "Lato Black";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 67px;
}

main .product-description .product-text {
  color: #5e5e5e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  width: 618px;
  margin: 0 auto;
  padding-bottom: 28px;
}

main .product-description .product-material-design {
  width: 334px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main .product-description .product-material-design .product-material,
main .product-description .product-material-design .product-design {
  color: #2f2f2f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 37px;
}

main .product-description .product-material-design .product-material span,
main .product-description .product-material-design .product-design span {
  color: #b9b9b9;
}

main .product-description .product-price {
  color: #ef5b70;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  margin-bottom: 0;
  padding-bottom: 43px;
}

main .product-description .product-hr {
  width: 642px;
  border: 1px solid #eaeaea;
  margin: auto;
  margin-bottom: 63px;
}

main .product-description .filter__block {
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin: auto;
}

main .product-description .filter select {
  border: 1px solid #eaeaea;
  padding: 9px 75px 9px 8px;
  min-width: 133px;
  outline: none;
  color: #bcbcbc;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

main .product-description .filter__heading {
  color: #2f2f2f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0px 0 16px 0;
  margin: 0;
}

main .product-description .filter__menu {
  position: relative;
  user-select: none;
  width: 133px;
}

main .product-description .filter__option {
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  position: relative;
  padding: 5px 5px 4px 31px;
}

main .product-description .filter__menu summary::-webkit-details-marker {
  display: none;
}

main .product-description .filter__menu summary::-webkit-details-marker {
  display: none;
}

main .product-description .filter__menu :focus {
  outline: 0;
}

main .product-description .filter__menu,
main .product-description summary {
  display: block;
}

main .product-description .filter__option:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #ef5b70;
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
}

main .product-description .filter__text i {
  transform: rotate(270deg);
  font-size: 14px;
  line-height: 23px;
  color: #bcbcbc;
  margin-left: 60px;
}

main .product-description .filter__color {
  display: flex;
  width: 133px;
  flex-direction: column;
  padding: 0 30px;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  position: absolute;
  background: #ffffff;
}

main .product-description .filter__color__block:nth-child(1):before {
  content: "";
  width: 12px;
  height: 12px;
  background: green;
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
}

main .product-description .filter__color__block:nth-child(2):before {
  content: "";
  width: 12px;
  height: 12px;
  background: blue;
  display: block;
  position: absolute;
  top: 31px;
  left: 10px;
}

main .product-description .filter__color__block:nth-child(3):before {
  content: "";
  width: 12px;
  height: 12px;
  background: grey;
  display: block;
  position: absolute;
  top: 55px;
  left: 10px;
}

main .product-description .filter__value {
  color: #bcbcbc;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

main .product-description .product-add {
  text-decoration: none;
  display: inline-block;
  margin-left: 300px;
  margin-bottom: 122px;
  margin-top: 28px;
}

main .product-description .product-add .product-cart-button {
  display: flex;
  background-color: #ef5b70;
  padding: 16px 206px 15px 207px;
}

main .product-description .product-add .product-cart-button #SVGDoc {
  fill: #ffffff;
  margin-right: 15px;
}

main .product-description .product-add .product-cart-button .product-cart-text {
  margin-bottom: 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

main .product-description .product-add:hover {
  margin-bottom: 121.5px;
}

main .product-description .product-add:hover .product-cart-button {
  background-color: #ffffff;
  padding: 15px 205px 14px 206px;
  border: 1px solid #ef5b70;
}

main .product-description .product-add:hover #SVGDoc {
  fill: #ef5b70;
}

main .product-description .product-add:hover .product-cart-text {
  color: #ef5b70;
}

main .items_heading {
  color: #4d4d4d !important;
  font-family: "Lato Black";
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  margin-bottom: 75px;
}

main .card_box {
  margin-bottom: 52px !important;
}

main .card {
  border: none;
  border-radius: 0;
  display: block;
}

main .card .card__top {
  background-color: #f7f7f7;
}

main .card__1 .card__top .card-1-img {
  width: 103px !important;
  height: 280px !important;
  margin: auto;
}

main .card__2 .card__top .card-2-img {
  width: 108px !important;
  height: 287px !important;
  margin: auto;
  margin-top: -6px;
}

main .card__3 .card__top .card-3-img {
  width: 101px !important;
  height: 280px !important;
  margin: auto;
}

main .card__title,
main .card__price {
  margin-bottom: 0;
}

main .review__text p {
  margin-bottom: 0;
}

main .subscribe__text p {
  margin-bottom: 0px;
}

main .email__sub input,
main .email__sub button {
  line-height: normal !important;
}

footer .footer__logo .brand {
  margin-bottom: 5px;
}

footer .footer__brand .footer__text {
  margin-bottom: 0;
}

footer .footer__company h4,
footer .footer__info h4,
footer .footer__shop h4 {
  margin-bottom: 0;
}

footer .footer__company ul,
footer .footer__info ul,
footer .footer__shop ul {
  margin-bottom: 0;
  padding-left: 0;
}

footer .copy {
  margin-bottom: 0;
}
